POSTGRES_USER=servit
POSTGRES_PASSWORD=change-me
POSTGRES_DB=servit

JWT_KEY=generate-a-new-random-secret-for-this-environment
JWT_ISSUER=Servit.Api
JWT_AUDIENCE=Servit.Client

GOOGLE_IOS_CLIENT_ID=123326191723-vgl4l913p2u3ftu5fdbjnia34mq8k9cb.apps.googleusercontent.com
